altgraph==0.17
astroid==2.5.3
beautifulsoup4==4.7.1
certifi==2020.12.5
chardet==4.0.0
Click==7.0
colorama==0.4.4
Flask==1.0.2
future==0.18.2
gitdb2==2.0.5
GitPython==2.1.11
idna==2.10
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.6.0
MarkupSafe==1.1.0
mccabe==0.6.1
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.4
pywin32-ctypes==0.2.0
requests==2.25.1
smmap2==2.0.5
soupsieve==1.7.3
toml==0.10.2
urllib3==1.26.4
Werkzeug==0.14.1
wrapt==1.12.1
